# _UJI HIPOTESIS_

#### _Nama : Rasendra Akbar S<br>NRP : 5003221120_

--------------------------------------------------------------------------------

### _1 POPULASI (Mean)_

--------------------------------------------------------------------------------

In [13]:
#pip install scipy

In [14]:
#pip install statsmodels

In [3]:
import numpy as np
from scipy import stats
import scipy.stats as st

#### Uji Mean standar deviasi populasi diketahui _(Z-Test)_

In [2]:
from statsmodels.stats.weightstats import ztest as ztest

In [7]:
#enter data
data = [88, 92, 94, 94, 96, 97, 97, 97, 99, 99, 105, 109, 109, 109, 110, 112, 112, 113, 114, 115]
#perform one sample z-test test value is 100
ztest(data, value=100)

(1.5976240527147705, 0.11012667014384257)

#### TUGAS 1 (Tambahkan perhitungan P-Value)

In [62]:
from scipy.stats import norm

In [65]:
def one_sample_z_test(sample, mu):
    n = len(sample)
    x_bar = np.mean(sample)
    s = np.sqrt(np.sum((sample - x_bar)**2) / (n - 1))
    z_statistic = (x_bar - mu) / (s / np.sqrt(n))
    pvalue = 2*(1 - norm.cdf(abs(z_statistic)))
    return (z_statistic, pvalue)

In [66]:
# Example usage
sample = np.array([88, 92, 94, 94, 96, 97, 97, 97, 99, 99, 105, 109, 109, 109, 110, 112, 112, 113, 114, 115])
mu = 100
z_statistic = one_sample_z_test(sample, mu)
print("Z statistic : ", z_statistic[0])
print("P Value : ", z_statistic[1])

Z statistic :  1.5976240527147705
P Value :  0.11012667014384259

## UJI Z (Mean)

In [6]:
def uji_z_1pop (data, miu0, std_pop, alpha, pilihan):
    n = len(data)
    x_bar = np.mean(data)
    z_hit = (x_bar - miu0) / (std_pop / np.sqrt(n))
    if (pilihan == "lower"):
        tandah0 = '>='
        tandah1 = '<'
        pval = norm.cdf(z_hit)
        z_table = norm.ppf(alpha)
    elif (pilihan == "upper"):
        tandah0 = '<='
        tandah1 = '>'
        pval = 1-norm.cdf(z_hit)
        z_table = norm.ppf(1-alpha)
    elif (pilihan == "twotail"):
        tandah0 = '='
        tandah1 = '!='
        pval = 2*(1 - norm.cdf(abs(z_hit)))
        z_table = norm.ppf(1-alpha/2)
    if pval<alpha:
        keputusan = "Tolak H0"
    else:
        keputusan = "Gagal Tolak H0"
    print('=================================================')
    print('\t\tUJI Z 1 POPULASI')
    print('=================================================')
    print("Hipotesis : ")
    print('-------------------------------------------------')
    print("H0 : Miu",tandah0,miu0)
    print("H1 : Miu",tandah1,miu0)
    print('-------------------------------------------------')
    print('Z Hitung\t=',z_hit)
    print('Z Tabel\t\t=',z_table)
    print('P - Value\t=',pval)
    print('Alpha\t\t=',alpha)
    print('-------------------------------------------------')
    print('Keputusan\t=',keputusan)
    print('=================================================')

In [7]:
sample = np.array([10, 12, 14, 15, 16, 17, 18, 19, 20])
mu = 15
var = 2
std_pop = np.sqrt(var)
alpha = 0.05

uji_z_1pop(sample, mu, std_pop, alpha, "twotail")

=================================================
		UJI Z 1 POPULASI
=================================================
Hipotesis :
-------------------------------------------------
H0 : Miu = 15
H1 : Miu != 15
-------------------------------------------------
Z Hitung	= 1.4142135623730936
Z Tabel		= 1.959963984540054
P - Value	= 0.15729920705028544
Alpha		= 0.05
-------------------------------------------------
Keputusan	= Gagal Tolak H0
=================================================

## UJI Z (Proporsi)

In [13]:
def uji_prop_1pop(phat, n, p0, alpha, pilihan):
    qhat = 1 - phat
    z_hit = (phat - p0) / np.sqrt(p0 * (1-p0) / n)
    if (pilihan == "lower"):
        tandah0 = '>='
        tandah1 = '<'
        pval = norm.cdf(z_hit)
        z_table = norm.ppf(alpha)
    elif (pilihan == "upper"):
        tandah0 = '<='
        tandah1 = '>'
        pval = 1-norm.cdf(z_hit)
        z_table = norm.ppf(1-alpha)
    elif (pilihan == "twotail"):
        tandah0 = '='
        tandah1 = '!='
        pval = 2*(1 - norm.cdf(abs(z_hit)))
        z_table = norm.ppf(1-alpha/2)
    if pval<alpha:
        keputusan = "Tolak H0"
    else:
        keputusan = "Gagal Tolak H0"
    z_table = norm.ppf(1-alpha/2)
    ci_upper = phat + z_table*np.sqrt((phat*qhat)/n)
    ci_lower = phat - z_table*np.sqrt((phat*qhat)/n)
    print('=================================================')
    print('\t     UJI PROPORSI 1 POPULASI')
    print('=================================================')
    print("Hipotesis : ")
    print('-------------------------------------------------')
    print("H0 : Phat",tandah0,p0)
    print("H1 : Phat",tandah1,p0)
    print('-------------------------------------------------')
    print('Z Hitung\t=',z_hit)
    print('Z Tabel\t\t=',z_table)
    print('P - Value\t=',pval)
    print('Alpha\t\t=',alpha)
    print(f'CI : [{ci_lower};{ci_upper}]')
    print('-------------------------------------------------')
    print('Keputusan\t=',keputusan)
    print('=================================================')

In [14]:
psoal = 25 / 30
alpha = 0.05
uji_prop_1pop(psoal, 30, 0.5, alpha, "twotail")

=================================================
	     UJI PROPORSI 1 POPULASI
=================================================
Hipotesis :
-------------------------------------------------
H0 : Phat = 0.5
H1 : Phat != 0.5
-------------------------------------------------
Z Hitung	= 3.651483716701108
Z Tabel		= 1.959963984540054
P - Value	= 0.0002607296328553943
Alpha		= 0.05
CI : [0.699974675656797;0.9666919910098697]
-------------------------------------------------
Keputusan	= Tolak H0
=================================================

## UJI t (Mean)

In [56]:
import scipy.stats as stats
sample = [2, 3, 4, 5, 6, 7, 8, 9, 10]
population_mean = 5
stats.ttest_1samp(sample,population_mean)

TtestResult(statistic=1.0954451150103321, pvalue=0.3052013652062302, df=8)

In [61]:
def one_sample_t_test(sample, mu):
    n = len(sample)
    x_bar = np.mean(sample)
    s = np.sqrt(np.sum((sample - x_bar)**2) / (n - 1))
    t_statistic = (x_bar - mu) / (s / np.sqrt(n))
    df = n - 1
    pval = 2*(1 - t.cdf(abs(t_statistic), df))
    return (t_statistic, df, pval)

In [62]:
# Example usage
sample = np.array([10, 12, 14, 15, 16, 17, 18, 19, 20])
mu = 15
t_statistic, df, nilai_pv = one_sample_t_test(sample, mu)
print("T statistic:", t_statistic)
print("Degrees of freedom:", df)
print("P-Value:", nilai_pv)

T statistic: 0.6099942813304181
Degrees of freedom: 8
P-Value: 0.5587899692492146

In [57]:
from scipy.stats import t

In [70]:
def uji_t_1pop (data, miu0, alpha, pilihan):
    n = len(data)
    x_bar = np.mean(data)
    std_sample = np.sqrt(np.sum((data - x_bar)**2) / (n - 1))
    t_hit = (x_bar - miu0) / (std_sample / np.sqrt(n))
    df = n-1
    if (pilihan == "lower"):
        tandah0 = '>='
        tandah1 = '<'
        pval = t.cdf(t_hit, df)
        t_table = t.ppf(alpha, df)
    elif (pilihan == "upper"):
        tandah0 = '<='
        tandah1 = '>'
        pval = 1-t.cdf(t_hit, df)
        t_table = t.ppf(1-alpha, df)
    elif (pilihan == "twotail"):
        tandah0 = '='
        tandah1 = '!='
        pval = 2*(1 - t.cdf(abs(t_hit), df))
        t_table = t.ppf(1-alpha/2, df)
    if pval<alpha:
        keputusan = "Tolak H0"
    else:
        keputusan = "Gagal Tolak H0"
    print('=================================================')
    print('\t\tUJI t 1 POPULASI')
    print('=================================================')
    print("Hipotesis : ")
    print('-------------------------------------------------')
    print("H0 : Miu",tandah0,miu0)
    print("H1 : Miu",tandah1,miu0)
    print('-------------------------------------------------')
    print('df\t\t=',df)
    print('t Hitung\t=',t_hit)
    print('t Tabel\t\t=',t_table)
    print('P - Value\t=',pval)
    print('Alpha\t\t=',alpha)
    print('-------------------------------------------------')
    print('Keputusan\t=',keputusan)
    print('=================================================')

In [71]:
sample = np.array([10, 12, 14, 15, 16, 17, 18, 19, 20])
mu = 15
alpha = 0.05

uji_t_1pop(sample, mu, alpha, "twotail")

=================================================
		UJI t 1 POPULASI
=================================================
Hipotesis :
-------------------------------------------------
H0 : Miu = 15
H1 : Miu != 15
-------------------------------------------------
df		= 8
t Hitung	= 0.6099942813304181
t Tabel		= 2.3060041350333704
P - Value	= 0.5587899692492146
Alpha		= 0.05
-------------------------------------------------
Keputusan	= Gagal Tolak H0
=================================================

-----------------------------------------

### _2 POPULASI (Mean, Proporsi)_

-------------------------------

## Uji Berpasangan

In [72]:
def paired_t_test(sample1, sample2):
    n = len(sample1)
    d = sample1 - sample2
    d_bar = np.mean(d)
    sd = np.sqrt(np.sum((d - d_bar)**2) / (n - 1))
    t_statistic = d_bar / (sd / np.sqrt(n))
    df = n - 1
    pval = 2 * t.sf(abs(t_statistic), df)
    return t_statistic, df, pval

In [74]:
# Example usage
sample1 = np.array([10, 12, 14, 15, 16, 17, 18, 19, 20])
sample2 = np.array([12, 14, 16, 18, 20, 22, 24, 26, 28])
t_statistic, df, nilaipval = paired_t_test(sample1, sample2)
print("T statistic:", t_statistic)
print("Degrees of freedom:", df)
print("P-Value:", nilaipval)

T statistic: -5.673665146135802
Degrees of freedom: 8
P-Value: 0.0004684096952802554

In [92]:
def uji_t_berpasangan(sample1, sample2, alpha, pilihan):
    n1 = len(sample1)
    n2 = len(sample2)
    if(n1==n2):
        n = n1
        d = sample1 - sample2
        d_bar = np.mean(d)
        sd = np.sqrt(np.sum((d - d_bar)**2) / (n - 1))
        t_hit = d_bar / (sd / np.sqrt(n))
        df = n - 1
        if (pilihan == "lower"):
            tandah0 = '>='
            tandah1 = '<'
            pval = t.cdf(t_hit, df)
            t_table = t.ppf(alpha, df)
        elif (pilihan == "upper"):
            tandah0 = '<='
            tandah1 = '>'
            pval = 1-t.cdf(t_hit, df)
            t_table = t.ppf(1-alpha, df)
        elif (pilihan == "twotail"):
            tandah0 = '='
            tandah1 = '!='
            pval = 2*(1 - t.cdf(abs(t_hit), df))
            t_table = t.ppf(1-alpha/2, df)
        if pval<alpha:
            keputusan = "Tolak H0"
        else:
            keputusan = "Gagal Tolak H0"
        print('=================================================')
        print('\t   UJI t 2 POPULASI BERPASANGAN')
        print('=================================================')
        print("Hipotesis : ")
        print('-------------------------------------------------')
        print("H0 : Miu1 - Miu2",tandah0,0)
        print("H1 : Miu1 - Miu2",tandah1,0)
        print('-------------------------------------------------')
        print('df\t\t=',df)
        print('t Hitung\t=',t_hit)
        print('t Tabel\t\t=',t_table)
        print('P - Value\t=',pval)
        print('Alpha\t\t=',alpha)
        print('-------------------------------------------------')
        print('Keputusan\t=',keputusan)
        print('=================================================')
    else:
        print("Paired t-test tidak bisa dilakukan karena ukuran sample berbeda")

In [93]:
sample1 = np.array([10, 12, 14, 15, 16, 17, 18, 19, 20])
sample2 = np.array([12, 14, 16, 18, 20, 22, 24, 26, 28])

uji_t_berpasangan(sample1, sample2, 0.05, "twotail")

=================================================
	   UJI t 2 POPULASI BERPASANGAN
=================================================
Hipotesis :
-------------------------------------------------
H0 : Miu1 - Miu2 = 0
H1 : Miu1 - Miu2 != 0
-------------------------------------------------
df		= 8
t Hitung	= -5.673665146135802
t Tabel		= 2.3060041350333704
P - Value	= 0.00046840969528028076
Alpha		= 0.05
-------------------------------------------------
Keputusan	= Tolak H0
=================================================

## Uji t independen

In [71]:
from scipy.stats import f
from scipy.stats import t
def uji_t_independen(sample1, sample2, alpha, pilihan):
    n1 = len(sample1)
    n2 = len(sample2)
    s01 = np.var(sample1)
    s02 = np.var(sample2)
    v1 = n1-1
    v2 = n2-2
    x_bar1 = np.mean(sample1)
    x_bar2 = np.mean(sample2)
    fhit = s01/s02
    p_value_var = 2 * min(f.cdf(fhit, v1, v2), 1 - f.cdf(fhit, v1, v2))

    if p_value_var<alpha:
        var_sama = False
    else:
        var_sama = True
    
    if var_sama == True:
        s_pooled = np.sqrt(((n1 - 1) * np.var(sample1) + (n2 - 1) * np.var(sample2)) / (n1 + n2 - 2))
    else:
        s1 = np.sqrt(np.var(sample1))
        s2 = np.sqrt(np.var(sample2))
        s_pooled = np.sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))
        
    t_hit = (x_bar1 - x_bar2) / (s_pooled / np.sqrt(n1 + n2))
    df = n1 + n2 - 2
    if (pilihan == "lower"):
        tandah0 = '>='
        tandah1 = '<'
        pval = t.cdf(t_hit, df)
        t_table = t.ppf(alpha, df)
    elif (pilihan == "upper"):
        tandah0 = '<='
        tandah1 = '>'
        pval = 1-t.cdf(t_hit, df)
        t_table = t.ppf(1-alpha, df)
    elif (pilihan == "twotail"):
        tandah0 = '='
        tandah1 = '!='
        pval = 2*(1 - t.cdf(abs(t_hit), df))
        t_table = t.ppf(1-alpha/2, df)
    if pval<alpha:
        keputusan = "Tolak H0"
    else:
        keputusan = "Gagal Tolak H0"
    print('=================================================')
    print('\t   UJI t 2 POPULASI INDEPENDEN')
    print('=================================================')
    print('Uji - F :')
    print('H0 : Var1-Var2 = 0')
    print('H0 : Var1-Var2 != 0')
    print('Hasil Uji - F :')
    print('-------------------------------------------------')
    if var_sama:
        print("Varians kedua populasi sama")
    else:
        print("Varians kedua populasi berbeda")
    print('-------------------------------------------------')
    print("Hipotesis : ")
    print('-------------------------------------------------')
    print("H0 : Miu1 - Miu2",tandah0,0)
    print("H1 : Miu1 - Miu2",tandah1,0)
    print('-------------------------------------------------')
    print('df\t\t=',df)
    print('t Hitung\t=',t_hit)
    print('t Tabel\t\t=',t_table)
    print('P - Value\t=',pval)
    print('Alpha\t\t=',alpha)
    print('-------------------------------------------------')
    print('Keputusan\t=',keputusan)
    print('=================================================')

In [72]:
sample1 = np.array([10, 12, 14, 15, 16])
sample2 = np.array([13, 15, 17, 19, 21])

uji_t_independen(sample1, sample2, 0.05, "twotail")

=================================================
	   UJI t 2 POPULASI INDEPENDEN
=================================================
Uji - F :
H0 : Var1-Var2 = 0
H0 : Var1-Var2 != 0
Hasil Uji - F :
-------------------------------------------------
Varians kedua populasi sama
-------------------------------------------------
Hipotesis :
-------------------------------------------------
H0 : Miu1 - Miu2 = 0
H1 : Miu1 - Miu2 != 0
-------------------------------------------------
df		= 8
t Hitung	= -4.528391448839648
t Tabel		= 2.3060041350333704
P - Value	= 0.0019284525780376427
Alpha		= 0.05
-------------------------------------------------
Keputusan	= Tolak H0
=================================================

## Uji Proporsi 2 Populasi

In [131]:
def uji_prop_2pop(x1, n1, x2, n2, p0, alpha, pilihan):
    p1 = x1/n1
    p2 = x2/n2
    if p1==p2:
        phat = (x1+x2)/(n1+n2)
        z_hit = (p1 - p2 - p0) / np.sqrt(phat * (1 - phat) * ((1 / n1) + (1 / n2)))
    else:
        z_hit = (p1-p2-p0)/np.sqrt((p1*(1-p1)/n1)+(p2*(1-p2)/n2))
    if (pilihan == "lower"):
        tandah0 = '>='
        tandah1 = '<'
        pval = norm.cdf(z_hit)
        z_table = norm.ppf(alpha)
    elif (pilihan == "upper"):
        tandah0 = '<='
        tandah1 = '>'
        pval = 1-norm.cdf(z_hit)
        z_table = norm.ppf(1-alpha)
    elif (pilihan == "twotail"):
        tandah0 = '='
        tandah1 = '!='
        pval = 2*(1 - norm.cdf(abs(z_hit)))
        z_table = norm.ppf(1-alpha/2)
    if pval<alpha:
        keputusan = "Tolak H0"
    else:
        keputusan = "Gagal Tolak H0"
    print('=================================================')
    print('\t       UJI PROP 2 POPULASI')
    print('=================================================')
    print("Hipotesis : ")
    print('-------------------------------------------------')
    print("H0 : p1 - p2",tandah0,p0)
    print("H1 : p1 - p2",tandah1,p0)
    print('-------------------------------------------------')
    print('Z Hitung\t=',z_hit)
    print('Z Tabel\t\t=',z_table)
    print('P - Value\t=',pval)
    print('Alpha\t\t=',alpha)
    print('-------------------------------------------------')
    print('Keputusan\t=',keputusan)
    print('=================================================')

In [132]:
x1 = 200
x2 = 100
n1 = 500
n2 = 400

uji_prop_2pop(x1, n1, x2, n2, 0.08, 0.05, "upper")

=================================================
	       UJI PROP 2 POPULASI
=================================================
Hipotesis :
-------------------------------------------------
H0 : p1 - p2 <= 0.08
H1 : p1 - p2 > 0.08
-------------------------------------------------
Z Hitung	= 2.2725955166024794
Z Tabel		= 1.6448536269514722
P - Value	= 0.011525283034981015
Alpha		= 0.05
-------------------------------------------------
Keputusan	= Tolak H0
=================================================

## ANOVA

In [17]:
import pandas as pd

In [18]:
placebo = [3, 2, 1, 1, 4]
low = [5, 2, 4, 2, 3]
high = [7, 4, 5, 3, 6]

In [19]:
data = []
data.append(placebo)
data.append(low)
data.append(high)
data = np.array(data).transpose()
data

array([[3, 5, 7],
       [2, 2, 4],
       [1, 4, 5],
       [1, 2, 3],
       [4, 3, 6]])

In [20]:
data_contoh_df = pd.DataFrame(data, columns=['placebo', 'low', 'high'])
data_contoh_df

   placebo  low  high
0        3    5     7
1        2    2     4
2        1    4     5
3        1    2     3
4        4    3     6

In [21]:
from scipy.stats import f

In [67]:
from tabulate import tabulate
def anova(data, alpha):
    n_kolom = len(data.columns)
    n_baris = len(data)
    xbar = data.mean()
    xbar_tot = np.mean(data.values)
    sse = 0
    sst = 0
    n_semua_data = 0
 
    for i in range(n_baris):
        n_semua_data += len(data.iloc[i])
 
    for i in range(n_baris):
        for j in range(n_kolom):
            sse += (data.iloc[i, j] - xbar.iloc[j])**2
            sst += (data.iloc[i, j] - xbar_tot)**2
 
    ssb = sst - sse
 
    msb = ssb / (n_kolom-1)
    mse = sse / (n_semua_data-n_kolom)
 
    fstat = msb/mse
 
    dfb = n_kolom - 1
    dfe = n_semua_data - n_kolom
    dft = n_semua_data - 1
    
    p_value = 1 - f.cdf(fstat, dfb, dfe)
    source = ['Between Groups', 'Error', 'Total']
    kolom = ['Sum of Squares', 'Degrees of Freedom', 'Mean Squares', 'F-Hit', 'Sign. F']
    
    sum_squares = np.array([ssb, sse, sst])
    degreeoff = np.array([dfb, dfe, dft])
    f_kolom = np.array([fstat, "", ""])
    p_kolom = np.array([p_value, "", ""])
    mean_square = np.array([msb, mse, ""])

    data_anova = np.column_stack((sum_squares, degreeoff, mean_square, f_kolom, p_kolom))
    
    output_df = pd.DataFrame(data_anova, index = source, columns = kolom)
    tabel_output_anova = tabulate(output_df,headers='keys', tablefmt='pretty')
    print(tabel_output_anova)
    if p_value < alpha:
        kesimpulan = "Tolak H0: Ada perbedaan signifikan antara kelompok"
    else:
        kesimpulan = "Gagal tolak H0: Tidak ada perbedaan signifikan antara kelompok"
    print('=================================================')
    print('\t\t  ANOVA TEST')
    print('=================================================')
    print("Hipotesis : ")
    print('-------------------------------------------------')
    print("H0 : Miu(1) = Miu(2) = ... = Miu(n)")
    print("H1 : Means are not equal")
    print('-------------------------------------------------')
    print('P-Value\t=',p_value)
    print('Alpha\t=',alpha)
    print(kesimpulan)
    print('=================================================')

In [68]:
cek = anova(data_contoh_df, 0.05)
cek

+----------------+--------------------+--------------------+--------------------+------------------+----------------------+
|                |   Sum of Squares   | Degrees of Freedom |    Mean Squares    |      F-Hit       |       Sign. F        |
+----------------+--------------------+--------------------+--------------------+------------------+----------------------+
| Between Groups | 20.133333333333333 |         2          | 10.066666666666666 | 5.11864406779661 | 0.024694289538222614 |
|     Error      |        23.6        |         12         | 1.9666666666666668 |                  |                      |
|     Total      | 43.733333333333334 |         14         |                    |                  |                      |
+----------------+--------------------+--------------------+--------------------+------------------+----------------------+
=================================================
		  ANOVA TEST
=================================================
Hipotesis :
-------------------------------------------------
H0 : Miu(1) = Miu(2) = ... = Miu(n)
H1 : Means are not equal
-------------------------------------------------
P-Value	= 0.024694289538222614
Alpha	= 0.05
Tolak H0: Ada perbedaan signifikan antara kelompok
=================================================